@media(max-width: 768px){
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.cardTarjetica{
    background-color: rgba(16, 16, 16, 0.6);
    height: 550px;
    width: 340px;
    border-radius: 10px;
}
    .completa img {
        height: 290px;
        /* max-height: 100vh; */
        border-radius: 8px;
    }
    
    .completa span {
        /* font-weight: bold; */
        /* font-size: 2rem; */
        top: 15px;
        left: 360px;
    }
    /*header*/
    #mainContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #search {
        margin-top:50px;
        width: 100%;
    }
    #busqueda{
        margin-top: 50px;
        width: 200px;
        align-items: center;
        /* justify-content: center; */
        /* margin: 0 auto; */
    }
    #titulo{
        display: none;
    }
    
    #navegacion{
        display: none;
    }

    #menu-hamburguesa{
        display: flex;
        justify-content: space-evenly;
        gap: 100px;
        align-items: center;
        padding: 30x; 
    }

    #titulo-responsive{
        color: rgb(81, 201, 231);
        padding: 0px;
        text-decoration: none;
        border-bottom: 3px solid rgb(81, 201, 231);
        font-family: var(--fuente-titulo);
        font-size: 20px ;
    }

    #menu-hamburguesa #menu-desplegable{
        display: none;
    }

    #hamburguesa-icono{
        border: 2px solid rgb(81, 201, 231);
        padding: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius:10px ;
        transition: .3s all ease;
        width: 30px;
        height: 30px;
    }
    
    #hamburguesa-icono span{
        border-bottom: 3px solid rgb(0, 0, 0);
        padding: 2px;
        width: 20px;
        transition: .3s all ease;
        transform-origin: center;
    }

    #menu-desplegable:checked ~ #hamburguesa-icono span:nth-child(2) {
        opacity: 0;

    }

    #menu-desplegable:checked ~ #hamburguesa-icono span:nth-child(1){
        transform: translateY(6px) rotate(45deg);
        
    }

    #menu-desplegable:checked ~ #hamburguesa-icono span:nth-child(3){
        transform: translate(-2px) translateY(-8px) rotate(-45deg);
    }

    #menu-desplegable:checked ~ #navegacion-links{
        display: block;
    }

    #navegacion-links{
        position: fixed;
        background-color: rgb(255, 255, 255);
        width: 300px;
        padding: 30px;
        transform: translateY(160px);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.123);
        border-radius: 10px;
        animation: aparecer2 .5s ease-in-out alternate;

    }

    #navegacion-links li a{
        color: black;
        text-decoration: none;
        font-size: 20px;
        transition: color .3s;
        font-family: monospace;
        font-weight: bold;
        transition: color .3s;
    }

    #navegacion-links li a:hover{
        color: rgb(81, 201, 231);
    }

    #navegacion-links li {
        padding: 5px;
        list-style: none;
        border-bottom: 3px solid rgb(81, 201, 231);
    }

    /*Main*/
    #volver-arriba{
        display: flex;
        margin: 0 auto;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color:white;
        width: 200px;
        background-color: rgb(47, 141, 255);
        border-radius: 5px;
    }

    #video-inicio{
        width: 250px;
    }

}